#

# Assignment 1 
## Group name: ID2214-4
### Project members: 
Zuzanna Gorczyca, zgo@kth.se

Alga Nour Elimane, nealga@kth.se

Tse An Shih, tashih@kth.se

### Declaration:
By submitting this assignment, it is hereby declared that all group members listed above have contributed to the solution, either with code that appear in the final solution below, or with code that has been evaluated and compared to the final solution, but for some reason has been excluded. It is also declared that all project members fully understand all parts of the final solution and can explain it upon request.

It is furthermore declared that the code below is a contribution by the project members only, and specifically that no part of the solution has been copied from any other source (except for lecture slides at the course ID2214/FID3214), no part of the solution has been provided by someone not listed as a project member above, and no part of the solution has been generated by a system.

It is furthermore declared that the submitted assignment will not be shared during the course, with any individual other than the group members listed above and teachers of the course ID2214/FID3214. In particular, the assignment will not be uploaded to any public repository. The submitted assignment can be shared after the course only if written consent has been provided by the course responsible of ID2214/FID3214.

It is furthermore declared that it has been understood that no other library/package than the Python 3 standard library, NumPy and pandas may be used in the solution for this assignment.

### Instructions
All parts of the assignment starting with number 1 below are mandatory. Satisfactory solutions
will give 1 point (in total). If they in addition are good (all parts work more or less 
as they should), completed on time (submitted before the deadline in Canvas) and according
to the instructions, together with satisfactory solutions of all parts of the assignment starting 
with number 2 below, then the assignment will receive 2 points (in total).

Note that you do not have to develop the code directly within the notebook
but may instead copy the comments and test cases to a more convenient development environment
and when everything works as expected, you may paste your functions into this
notebook, do a final testing (all cells should succeed), save the notebook including the output
and submit the whole notebook (a single file) in Canvas (do not forget to fill in your group number
and names above).

## Load NumPy and pandas

In [3]:
import numpy as np
import pandas as pd

In [4]:
from platform import python_version

print(f"Python version: {python_version()}")
print(f"NumPy version: {np.__version__}")
print(f"Pandas version: {pd.__version__}")

Python version: 3.13.5
NumPy version: 2.1.3
Pandas version: 2.2.3

## 1a. Create and apply column filter

In [5]:
# Insert the functions create_column_filter and apply_column_filter below (after the comments)
#
# Input to create_column_filter:
# df - a dataframe (where the column names "CLASS" and "ID" have special meaning)
#
# Output from create_filter:
# df            - a new dataframe, where columns, except "CLASS" and "ID", containing only missing values 
#                 or only one unique value (apart from the missing values) have been dropped
# column_filter - a list of the names of the remaining columns, including "CLASS" and "ID"
#
# Hint 1: First copy the input dataframe and modify the copy (the input dataframe should be kept unchanged)
#
# Hint 2: Iterate through all columns and consider to drop a column only if it is not labeled "CLASS" or "ID"
#
# Hint 3: You may check the number of unique (non-missing) values in a column by applying the pandas functions
#         dropna and unique to drop missing values and get the unique (remaining) values
#
# Input to apply_column_filter:
# df            - a dataframe
# column_filter - a list of the names of the columns to keep (see above)
#
# Output from apply_column_filter:
# df - a new dataframe, where each column that is not included in column_filter has been dropped
#
# Hint 1: First copy the input dataframe and modify the copy (the input dataframe should be kept unchanged)

import numpy as np
import pandas as pd

#create_column_filter
def create_column_filter(df):
    df_copy=df.copy()
    col_keep=["CLASS","ID"]

    for col in df_copy.columns:
        if col not in col_keep: 
            if df_copy[col].dropna().nunique()<=1:
                df_copy=df_copy.drop(columns=[col])

    return df_copy,df_copy.columns.tolist()

    
#apply_column_filter
def apply_column_filter(df,column_filter):
    df_copy=df.copy()
    df_copy=df_copy[column_filter]
    return df_copy

In [6]:
# Test your code (leave this part unchanged)

df = pd.DataFrame({"CLASS":[1,0,1,0,1],"A":[1,2,np.nan,4,5],"B":[1,1,1,1,np.nan],"C":["h","h",np.nan,"i","h"],"D":[np.nan,np.nan,np.nan,np.nan,np.nan]})

filtered_df, column_filter = create_column_filter(df)

new_df = pd.DataFrame({"CLASS":[1,0,0],"A":[4,5,6],"B":[1,2,1],"C":[np.nan,np.nan,np.nan],"D":[np.nan,4,5]})

filtered_new_df = apply_column_filter(new_df,column_filter)

display("df",df)
display("filtered_df",filtered_df)
display("new_df",new_df)
display("filtered_new_df",filtered_new_df)

'df'

   CLASS    A    B    C   D
0      1  1.0  1.0    h NaN
1      0  2.0  1.0    h NaN
2      1  NaN  1.0  NaN NaN
3      0  4.0  1.0    i NaN
4      1  5.0  NaN    h NaN

'filtered_df'

   CLASS    A    C
0      1  1.0    h
1      0  2.0    h
2      1  NaN  NaN
3      0  4.0    i
4      1  5.0    h

'new_df'

   CLASS  A  B   C    D
0      1  4  1 NaN  NaN
1      0  5  2 NaN  4.0
2      0  6  1 NaN  5.0

'filtered_new_df'

   CLASS  A   C
0      1  4 NaN
1      0  5 NaN
2      0  6 NaN

## 1b. Create and apply normalization

In [7]:
# Insert the functions create_normalization and apply_normalization below (after the comments)
#
# Input to create_normalization:
# df: a dataframe (where the column names "CLASS" and "ID" have special meaning)
# normalizationtype: "minmax" (default) or "zscore"
#
# Output from create_normalization:
# df            - a new dataframe, where each numeric value in a column has been replaced by a normalized value
# normalization - a mapping (dictionary) from each column name to a triple, consisting of
#                ("minmax",min_value,max_value) or ("zscore",mean,std)
#
# Hint 1: First copy the input dataframe and modify the copy (the input dataframe should be kept unchanged)
#
# Hint 2: Consider columns of type "float" or "int" only (and which are not labeled "CLASS" or "ID"),
#         the other columns should remain unchanged
#
# Hint 3: Take a close look at the lecture slides on data preparation
#
# Input to apply_normalization:
# df            - a dataframe
# normalization - a mapping (dictionary) from column names to triples (see above)
#
# Output from apply_normalization:
# df - a new dataframe, where each numerical value has been normalized according to the mapping
#
# Hint 1: First copy the input dataframe and modify the copy (the input dataframe should be kept unchanged)
#
# Hint 2: For minmax-normalization, you may consider to limit the output range to [0,1]

import numpy as np
import pandas as pd

#create_normalization
def create_normalization(df,normalizationtype):
    df_copy=df.copy()
    df_copy.dropna(how="any",inplace=True)
    normalization={}
    col_keep=["CLASS","ID"]

    numeric_cols=df_copy.select_dtypes(include=["int64","float64"]).columns
    numeric_cols=[c for c in numeric_cols if c not in col_keep]
    
    if normalizationtype=="minmax":
        min_value=df_copy[numeric_cols].min()
        max_value=df_copy[numeric_cols].max()
        df_copy[numeric_cols]=(df_copy[numeric_cols]-min_value)/(max_value-min_value)
        for c in numeric_cols:
            normalization[c]=("minmax",min_value[c],max_value[c])
    elif normalizationtype=="zscore":
        mean_value=df_copy[numeric_cols].mean()
        std_value=df_copy[numeric_cols].std()
        df_copy[numeric_cols]=(df_copy[numeric_cols]-mean_value)/std_value
        for c in numeric_cols:
            normalization[c]=("zscore",mean_value[c],std_value[c])
    
    return df_copy,normalization

#apply_normalization
def apply_normalization(df,normalization):
    df_copy=df.copy()
    for col in normalization:
        normalization_type,value_1,value_2=normalization[col] 
        if normalization_type=="minmax":
            df_copy[col]=(df_copy[col]-value_1)/(value_2-value_1)
            df_copy[col]=df_copy[col].clip(0, 1)

        elif normalization_type=="zscore":
            df_copy[col]=(df_copy[col]-value_1)/value_2
    
    return df_copy

In [8]:
# Test your code (leave this part unchanged)

glass_train_df = pd.read_csv("glass_train.csv")

glass_test_df = pd.read_csv("glass_test.csv")

glass_train_norm, normalization = create_normalization(glass_train_df,normalizationtype="minmax")
print("normalization:\n")
for f in normalization:
    print("{}:{}".format(f,normalization[f]))

print()
    
glass_test_norm = apply_normalization(glass_test_df,normalization)
display("glass_test_norm",glass_test_norm)

normalization:

RI:('minmax', np.float64(1.51131), np.float64(1.53125))
Na:('minmax', np.float64(10.73), np.float64(15.79))
Mg:('minmax', np.float64(0.0), np.float64(4.49))
Al:('minmax', np.float64(0.29), np.float64(3.04))
Si:('minmax', np.float64(69.81), np.float64(75.18))
K:('minmax', np.float64(0.0), np.float64(6.21))
Ca:('minmax', np.float64(5.43), np.float64(14.68))
Ba:('minmax', np.float64(0.0), np.float64(3.15))
Fe:('minmax', np.float64(0.0), np.float64(0.37))

'glass_test_norm'

,ID,RI,Na,Mg,Al,Si,K,Ca,Ba,Fe,CLASS
0,101,0.262788,0.399209,0.634744,0.418182,0.644320,0.091787,0.363243,0.034921,0.594595,2
1,104,0.799398,0.606719,0.701559,0.134545,0.141527,0.012882,0.671351,0.000000,0.000000,2
2,44,0.541123,0.592885,0.855234,0.156364,0.363128,0.027375,0.465946,0.000000,0.000000,1
3,17,0.327482,0.385375,0.817372,0.316364,0.614525,0.098229,0.353514,0.000000,0.000000,1
4,81,0.231194,0.420949,0.783964,0.665455,0.530726,0.111111,0.274595,0.000000,0.000000,2
...,...,...,...,...,...,...,...,...,...,...,...
102,80,0.230191,0.413043,0.783964,0.585455,0.567970,0.111111,0.274595,0.000000,0.000000,2
103,141,0.280341,0.513834,0.788419,0.480000,0.508380,0.109501,0.289730,0.000000,0.000000,2
104,14,0.309428,0.420949,0.792873,0.356364,0.633147,0.086957,0.318919,0.000000,0.459459,1
105,132,0.743731,0.586957,0.000000,0.389091,0.266294,0.030596,0.865946,0.000000,0.270270,2
106,102,0.300401,0.320158,0.605791,0.487273,0.569832,0.112721,0.410811,0.000000,0.000000,2

### Comment on assumptions, things that do not work properly, etc.

## 1c. Create and apply imputation

In [9]:
# Insert the functions create_imputation and apply_imputation below (after the comments)
#
# Input to create_imputation:
# df: a dataframe (where the column names "CLASS" and "ID" have special meaning)
#
# Output from create_imputation:
# df         - a new dataframe, where each missing numeric value in a column has been replaced by the mean of that column 
#              and each missing categoric value in a column has been replaced by the mode of that column
# imputation - a mapping (dictionary) from column name to value that has replaced missing values
#
# Hint 1: First copy the input dataframe and modify the copy (the input dataframe should be kept unchanged)
#
# Hint 2: Handle columns of type "float" or "int" only (and which are not labeled "CLASS" or "ID") in one way
#         and columns of type "object" and "category" in other ways
#
# Hint 3: Consider using the pandas functions mean and mode respectively, as well as fillna
#
# Hint 4: In the rare case of all values in a column being missing*, replace numeric values with 0,
#         object values with "" and category values with the first category (cat.categories[0])  
#
#         *Note that this will not occur if the previous column filter function has been applied
#
# Input to apply_imputation:
# df         - a dataframe
# imputation - a mapping (dictionary) from column name to value that should replace missing values
#
# Output from apply_imputation:
# df - a new dataframe, where each missing value has been replaced according to the mapping
#
# Hint 1: First copy the input dataframe and modify the copy (the input dataframe should be kept unchanged)
#
# Hint 2: Consider using fillna

#create_imputation
def create_imputation(df):
    df_copy=df.copy()
    col_keep=["CLASS","ID"]
    imputation={}
    
    numeric_cols=df_copy.select_dtypes(include=["int64","float64"]).columns
    numeric_cols=[n for n in numeric_cols if n not in col_keep]
    for num_col in numeric_cols:
        if np.isnan(df_copy[num_col]).all():
            df_copy[num_col]=0
            imputation[num_col]=(num_col,0)
        else:
            df_copy[num_col]=df_copy[num_col].fillna(df_copy[num_col].mean())
            imputation[num_col]=(num_col,df_copy[num_col].mean())

    object_cols=df_copy.select_dtypes(include=["object"]).columns
    object_cols=[o for o in object_cols if o not in col_keep]
    for obj_col in object_cols:
        if pd.isna(df_copy[obj_col]).all():
            df_copy[obj_col]=""
            imputation[obj_col]=(obj_col,"")
        else:
            df_copy[obj_col]=df_copy[obj_col].fillna(df_copy[obj_col].mode().iloc[0])
            imputation[obj_col]=(obj_col,df_copy[obj_col].mode().iloc[0])

    category_cols=df_copy.select_dtypes(include=["category"]).columns
    category_cols=[c for c in category_cols if c not in col_keep]
    for cat_col in category_cols:
        if pd.isna(df_copy[cat_col]).all():
            df_copy[cat_col]=df_copy[cat_col].cat.categories[0]
            imputation[cat_col]=(cat_col,df_copy[cat_col].cat.categories[0])
        else:
            df_copy[cat_col]=df_copy[cat_col].fillna(df_copy[cat_col].mode().iloc[0])
            imputation[cat_col]=(cat_col,df_copy[cat_col].mode().iloc[0])
   
    return df_copy,imputation

#apply_imputation
def apply_imputation(df,imputation):
    df_copy=df.copy()
    for col in imputation:
        col_name,fill_value=imputation[col]
        df_copy[col]=df_copy[col].fillna(fill_value)
    return df_copy

In [10]:
# Test your code (leave this part unchanged)

anneal_train_df = pd.read_csv("anneal_train.csv")
anneal_test_df = pd.read_csv("anneal_test.csv")

anneal_train_imp, imputation = create_imputation(anneal_train_df)
anneal_test_imp = apply_imputation(anneal_test_df,imputation)

print("Imputation:\n")
for f in imputation:
    print("{}:{}".format(f,imputation[f]))

print("\nNo. of replaced missing values in training data:\n{}".format(anneal_train_imp.count()-anneal_train_df.count()))
print("\nNo. of replaced missing values in test data:\n{}".format(anneal_test_imp.count()-anneal_test_df.count()))

Imputation:

carbon:('carbon', np.float64(3.859688195991091))
hardness:('hardness', np.float64(13.084632516703786))
formability:('formability', np.float64(2.251748251748252))
strength:('strength', np.float64(26.302895322939868))
enamelability:('enamelability', np.float64(1.7142857142857142))
m:('m', 0)
marvi:('marvi', 0)
exptl:('exptl', 0)
corr:('corr', 0)
jurofm:('jurofm', 0)
s:('s', 0)
p:('p', 0)
thick:('thick', np.float64(1.1911937639198218))
width:('width', np.float64(769.4917594654788))
len:('len', np.float64(1229.293986636971))
bore:('bore', np.float64(35.18930957683742))
packing:('packing', np.float64(3.0))
family:('family', 'TN')
product-type:('product-type', 'C')
steel:('steel', 'A')
temper_rolling:('temper_rolling', 'T')
condition:('condition', 'S')
non-ageing:('non-ageing', 'N')
surface-finish:('surface-finish', 'P')
surface-quality:('surface-quality', 'E')
bc:('bc', 'Y')
bf:('bf', 'Y')
bt:('bt', 'Y')
bw/me:('bw/me', 'B')
bl:('bl', 'Y')
chrom:('chrom', 'C')
phos:('phos', 'P')
cbond:('cbond', 'Y')
ferro:('ferro', 'Y')
blue-bright-varn-clean:('blue-bright-varn-clean', 'B')
lustre:('lustre', 'Y')
shape:('shape', 'SHEET')
oil:('oil', 'Y')

No. of replaced missing values in training data:
family                    382
product-type                0
steel                      43
carbon                      0
hardness                    0
temper_rolling            374
condition                 160
formability               163
strength                    0
non-ageing                391
surface-finish            444
surface-quality           128
enamelability             442
bc                        448
bf                        401
bt                        411
bw/me                     349
bl                        377
m                         449
chrom                     432
phos                      447
cbond                     408
marvi                     449
exptl                     449
ferro                     433
corr                      449
blue-bright-varn-clean    445
lustre                    425
jurofm                    449
s                         449
p                         449
shape                       0
thick                       0
width                       0
len                         0
oil                       414
bore                        0
packing                   445
CLASS                       0
dtype: int64

No. of replaced missing values in test data:
family                    390
product-type                0
steel                      43
carbon                      0
hardness                    0
temper_rolling            387
condition                 143
formability               155
strength                    0
non-ageing                402
surface-finish            445
surface-quality           116
enamelability             440
bc                        449
bf                        368
bt                        413
bw/me                     338
bl                        372
m                         449
chrom                     440
phos                      444
cbond                     416
marvi                     449
exptl                     447
ferro                     435
corr                      449
blue-bright-varn-clean    447
lustre                    422
jurofm                    449
s                         449
p                         449
shape                       0
thick                       0
width                       0
len                         0
oil                       420
bore                        0
packing                   444
CLASS                       0
dtype: int64

### Comment on assumptions, things that do not work properly, etc.

## 1d. Create and apply discretization

In [ ]:
# Insert the functions create_bins and apply_bins below
#
def create_bins(df, nobins = 10, bintype = "equal-size"):
    # Input to create_bins:
    # df      - a dataframe
    # nobins  - no. of bins (default = 10)
    # bintype - either "equal-width" (default) or "equal-size" 
    #
    # Output from create_bins:
    # df      - a new dataframe, where each numeric feature value has been replaced by a categoric (corresponding to some bin)
    # binning - a mapping (dictionary) from column name to bins (threshold values for the bin)


    # Hint 1: First copy the input dataframe and modify the copy (the input dataframe should be kept unchanged)
    df_copy = df.copy()
    binning = {}
    # Hint 2: Discretize columns of type "float" or "int" only (and which are not labeled "CLASS" or "ID")
    numeric_cols = df_copy.select_dtypes(include=['float', 'int']).columns.tolist()
    numeric_cols_no_ids = [c for c in numeric_cols if c not in ["ID", "CLASS"]]
    # Hint 3: Consider using pd.cut and pd.qcut respectively, with labels=False and retbins=True
    for column in numeric_cols_no_ids:
        try:
            if bintype == "equal-width":
                binned_data, bins = pd.cut(df_copy[column], bins=nobins, labels=False, retbins=True)
            elif bintype == "equal-size":
                binned_data, bins = pd.qcut(df_copy[column], q=nobins, labels=False, retbins=True, duplicates='drop')
        except ValueError as e:
            print(f"Skipping column {column} due to error during binning: {e}")
            continue
    
    # Hint 6: Change the first and the last element of each binning to -np.inf and np.inf respectively 
        bins[0] = -np.inf
        bins[-1] = np.inf
        binning[column] = bins

    # Hint 4: Set all columns in the new dataframe to be of type "category"
        df_copy[column] = binned_data
    
    # Hint 5: Set the categories of the discretized features to be [0,...,nobins-1]
        actual_nobins = len(np.unique(binned_data[binned_data.notna()]))
        if actual_nobins > 0:
            categories = pd.RangeIndex(start=0, stop=actual_nobins, step=1)
            df_copy[column] = pd.Categorical(df_copy[column], categories=categories, ordered=True)
        else:
            df_copy[column]= df_copy[column].astype('category')
    return df_copy, binning

def apply_bins(df, binning):
    # Input to apply_bins:
    # df      - a dataframe
    # binning - a mapping (dictionary) from column name to bins (threshold values for the bin)
    
    # Output from apply_bins:
    # df - a new dataframe, where each numeric feature value has been replaced by a categoric (corresponding to some bin)
    
    # Hint 1: First copy the input dataframe and modify the copy (the input dataframe should be kept unchanged)
    df_copy = df.copy()

    # Hint 2: Consider using pd.cut 
    for key, value in binning.items():
        new_binned_data, _ = pd.cut(df_copy[key], bins=value, labels=False, retbins=True)
    # Hint 3: Set all columns in the new dataframe to be of type "category"
        df_copy[key] = new_binned_data

    # Hint 4: Set the categories of the discretized features to be [0,...,nobins-1]
        actual_nobins = len(np.unique(new_binned_data[new_binned_data.notna()]))
        if actual_nobins > 0:
            categories = pd.RangeIndex(start=0, stop=actual_nobins, step=1)
            df_copy[key] = pd.Categorical(df_copy[key], categories=categories, ordered=True)
        else:
            df_copy[key]= df_copy[key].astype('category')
    return df_copy

In [7]:
# Test your code  (leave this part unchanged)

glass_train_df = pd.read_csv("glass_train.csv")

glass_test_df = pd.read_csv("glass_test.csv")

glass_train_disc, binning = create_bins(glass_train_df,nobins=10,bintype="equal-size")
print("binning:")
for f in binning:
    print("{}:{}".format(f,binning[f]))

print()    
glass_test_disc = apply_bins(glass_test_df,binning)
display("glass_test_disc",glass_test_disc)

binning:
RI:[    -inf 1.515896 1.51618  1.516516 1.516866 1.51753  1.517902 1.518618
 1.520114 1.521846      inf]
Na:[  -inf 12.73  12.872 13.    13.222 13.38  13.492 13.794 14.198 14.82
    inf]
Mg:[ -inf 1.82  3.188 3.41  3.476 3.55  3.61  3.728   inf]
Al:[ -inf 0.906 1.172 1.23  1.348 1.48  1.54  1.622 1.808 2.094   inf]
Si:[  -inf 71.756 72.196 72.388 72.72  72.79  72.966 73.06  73.208 73.372
    inf]
K:[ -inf 0.006 0.148 0.39  0.54  0.576 0.6   0.636 0.67    inf]
Ca:[  -inf  7.978  8.112  8.338  8.554  8.67   8.81   9.032  9.674 10.924
    inf]
Ba:[-inf 0.78  inf]
Fe:[ -inf 0.062 0.118 0.24    inf]

'glass_test_disc'

      ID RI Na Mg Al Si  K Ca Ba Fe  CLASS
0    101  3  1  1  4  8  4  5  0  2      2
1    104  9  7  1  0  0  1  9  0  0      2
2     44  9  6  7  0  1  2  8  0  0      1
3     17  5  0  6  1  7  6  5  0  0      1
4     81  1  1  4  9  3  8  0  0  0      2
..   ... .. .. .. .. .. .. .. .. ..    ...
102   80  1  1  4  8  5  8  0  0  0      2
103  141  4  4  4  6  3  8  1  0  0      2
104   14  4  1  5  3  8  3  3  0  2      1
105  132  9  6  0  4  0  2  9  0  1      2
106  102  4  0  1  7  5  8  7  0  0      2

[107 rows x 11 columns]

### Comment on assumptions, things that do not work properly, etc.

## 1e. Create and apply one-hot encoding

In [43]:
# Insert the functions create_one_hot and apply_one_hot below

def create_one_hot(df):
    # Input to create_one_hot:
    # df: a dataframe

    # Output from create_one_hot:
    # df      - a new dataframe, where each categoric feature has been replaced by a set of binary features 
    #           (as many new features as there are possible values)
    # one_hot - a mapping (dictionary) from column name to a set of categories (possible values for the feature)

    # Hint 1: First copy the input dataframe and modify the copy (the input dataframe should be kept unchanged)
    df_copy = df.copy()
    one_hot = {}
    # Hint 2: Consider columns of type "object" or "category" only (and which are not labeled "CLASS" or "ID")
    category_cols = df_copy.select_dtypes(include=['object', 'category']).columns.tolist()
    category_cols_no_ids = [c for c in category_cols if c not in ["ID", "CLASS"]]

    # Hint 3: Consider creating new column names by merging the original column name and the categorical value
    for column in category_cols_no_ids: 
        all_cat = set(cat for cat in df_copy[column])
        one_hot[column] = {cat: "" for cat in all_cat}
        # Hint 4: Set all new columns to be of type "float"
        for cat in all_cat:
            df_copy[f'{column} {cat}'] = df_copy[column].apply(lambda x: 1.0 if cat in x else 0.0) 
            one_hot[column][cat] = f'{column} {cat}'
        # Hint 5: Do not forget to remove the original categoric feature
        df_copy = df_copy.drop(column, axis=1)

    #*Second method but not useful to make mapping  
    # df_pandas_encoded = pd.get_dummies(df_copy, columns=category_cols_no_ids, drop_first=True, dtype=float)

    # move CLASS column to front 
    col = df_copy.pop('CLASS') 
    df_copy.insert(0, 'CLASS', col)
    return df_copy, one_hot


def apply_one_hot(df, one_hot):
    # Input to apply_one_hot:
    # df      - a dataframe
    # one_hot - a mapping (dictionary) from column name to categories
    
    # Output from apply_one_hot:
    # df - a new dataframe, where each categoric feature has been replaced by a set of binary features

    # Hint: See the above Hints
    df_copy = df.copy()
    category_cols = df_copy.select_dtypes(include=['object', 'category']).columns.tolist()
    category_cols_no_ids = [c for c in category_cols if c not in ["ID", "CLASS"]]
    for kay, value in one_hot.items():
        for cat, new_name in value.items():
            df_copy[new_name] = df_copy[kay].apply(lambda x: 1.0 if cat in x else 0.0)
        df_copy = df_copy.drop(kay, axis=1)
    
    col = df_copy.pop("CLASS")
    df_copy.insert(0, 'CLASS', col)
    return df_copy

In [44]:
train_df = pd.read_csv("tic-tac-toe_train.csv")

new_train, one_hot = create_one_hot(train_df)

test_df = pd.read_csv("tic-tac-toe_test.csv")

new_test_df = apply_one_hot(test_df,one_hot)
display("new_test_df",new_test_df)

'new_test_df'

,CLASS,top-left-square x,top-left-square o,top-left-square b,top-middle-square x,top-middle-square o,top-middle-square b,top-right-square x,top-right-square o,top-right-square b,...,middle-right-square b,bottom-left-square b,bottom-left-square o,bottom-left-square x,bottom-middle-square b,bottom-middle-square o,bottom-middle-square x,bottom-right-square b,bottom-right-square o,bottom-right-square x
0,positive,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
1,positive,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0
2,positive,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0
3,negative,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0
4,positive,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,...,1.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
474,positive,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
475,negative,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0
476,positive,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0
477,positive,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,...,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0
478,negative,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,...,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0

In [ ]:
# Test your code  (leave this part unchanged)

train_df = pd.read_csv("tic-tac-toe_train.csv")

new_train, one_hot = create_one_hot(train_df)

test_df = pd.read_csv("tic-tac-toe_test.csv")

new_test_df = apply_one_hot(test_df,one_hot)
display("new_test_df",new_test_df)

### Comment on assumptions, things that do not work properly, etc.

## 1f. Divide a dataset into a training and a test set

In [53]:
# Insert the function split below

def split(df, testfraction = 0.5):
    # Input to split:
    # df           - a dataframe
    # testfraction - a float in the range (0,1) (default = 0.5)

    # Output from split:
    # trainingdf - a dataframe consisting of a random sample of (1-testfraction) of the rows in df
    # testdf     - a dataframe consisting of the rows in df that are not included in trainingdf

    # Hint: You may use np.random.permutation(df.index) to get a permuted list of indexes where a 
    #       prefix corresponds to the test instances, and the suffix to the training instances 
    df_copy = df.copy()
    res = df_copy.iloc[np.random.permutation(len(df_copy))].reset_index(drop=True)
    train_len = int(len(res)*(1-testfraction))
    test_len = len(res) - train_len
    trainingdf = res.loc[:train_len].copy()
    testdf = res.loc[train_len+1:].copy()

    return trainingdf, testdf

In [56]:
# Test your code  (leave this part unchanged)

glass_df = pd.read_csv("glass.csv")

glass_train, glass_test = split(glass_df,testfraction=0.25)

print("Training IDs:\n{}".format(glass_train["ID"].values))

print("\nTest IDs:\n{}".format(glass_test["ID"].values))

print("\nOverlap: {}".format(set(glass_train["ID"]).intersection(set(glass_test["ID"]))))

Training IDs:
[179 178 211 196  85  32 108  49  54  95 166  13 114 169 193 204   1  66
 103 157  92  68  93 104   3   7 177 176 106  19 132  64 203 138 182 107
 127 109   8   5  72 154  34 165  36  29  74  83  77  48 131  75  24  98
  42 119 209 172  46 124 213 140   6  80  30 134 162 130 144  41 167 171
  14 149  27 175  38 160 128 183 187 123  20 100 133 206  43  79 148 185
 197  18  33  69  65  11  84 156  28  50 121 184 212 102  59 163  17 136
 120  45  16 190 164 155 151 122 158 117 135 116 210  61 170  51 111  31
  35 208 125 199 201 143  71 115  97   2 180  57 173 200 189  12  87  15
  62  76 110  73 145 112  55  82 126  91  21  94  63 174 139 186 202]

Test IDs:
[ 81   4 159  25 191  23  53  56 194  26  89  39  22  99 118  70   9  10
  96 101  90  58  47 142 147  67 113  88 146 161  40 168  60 181 129 141
  78 153 137 105 192  86 195  44 150 207  52  37 214 188 198 205 152]

Overlap: set()

### Comment on assumptions, things that do not work properly, etc.

## 1g. Calculate accuracy of a set of predictions

In [120]:
# Insert the function accuracy below
def accuracy(df, correctlabels):
    # Input to accuracy:
    # df            - a dataframe with class labels as column names and each row corresponding to
    #                 a prediction with estimated probabilities for each class
    # correctlabels - an array (or list) of the correct class label for each prediction
    #                 (the number of correct labels must equal the number of rows in df)
    
    # Output from accuracy:
    # accuracy - the fraction of cases for which the predicted class label coincides with the correct label
    

    # Hint: In case the label receiving the highest probability is not unique, you may
    #       resolve that by picking the first (as ordered by the column names) or 
    #       by randomly selecting one of the labels with highest probaility.
    df_copy = df.copy()
    predictions = df_copy.idxmax(axis=1).values
    sum = 0
    for i in range(len(predictions)):
        if predictions[i] == correctlabels[i]:
            sum += 1

    return sum/len(correctlabels)

In [122]:
# Test your code  (leave this part unchanged)

predictions = pd.DataFrame({"A":[0.5,0.5,0.5,0.25,0.25],"B":[0.5,0.25,0.25,0.5,0.25],"C":[0.0,0.25,0.25,0.25,0.5]})
display("predictions",predictions)

'predictions'

      A     B     C
0  0.50  0.50  0.00
1  0.50  0.25  0.25
2  0.50  0.25  0.25
3  0.25  0.50  0.25
4  0.25  0.25  0.50

In [123]:
correctlabels = ["B","A","B","B","C"]

print("Accuracy: {}".format(accuracy(predictions,correctlabels))) # Note that depending on how ties are resolved the accuracy may be 0.6 or 0.8

Accuracy: 0.6

### Comment on assumptions, things that do not work properly, etc.

## 2a. Divide a dataset into a number of folds

In [21]:
# Insert the function folds below
#
# Input to folds:
# df      - a dataframe
# nofolds - an integer greater than 1 (default = 10)
#
# Output from folds:
# folds - a list (of length = nofolds) dataframes consisting of random non-overlapping, 
#         approximately equal-sized subsets of the rows in df
#
# Hint: You may use np.random.permutation(df.index) to get a permuted list of indexes from which a 
#       prefix corresponds to the test instances, and the suffix to the training instances 

import numpy as np 
import pandas as pd 
def folds(df , nofolds = 10  ) :
    assert nofolds > 1 
    indices = np.random.permutation(df.index)
    print("indices : " , indices ) 
    lenght = len(df)//nofolds
    folds= []
    for i in range (nofolds) :
        start = i * lenght
        end = (i + 1) * lenght if i != nofolds - 1 else len(df)
        fold_indices = indices[start:end]
        folds.append(df.loc[fold_indices])
    return folds

In [22]:
# Test your code  (leave this part unchanged)

glass_df = pd.read_csv("glass.csv")

glass_folds = folds(glass_df,nofolds=5)

fold_sizes = [len(f) for f in glass_folds]

print("Fold sizes:{}\nTotal no. instances: {}".format(fold_sizes,sum(fold_sizes)))

indices :  [  5  27  18 151  48  82 210  74  33  40  41 202 185  61 141  69 133 190
  34  46 198  96  19  98 166 170  43   9  59  30  10 171 197 105 124  16
 130 109 101 119  91  14 213  44  87 165 156 194 154 139  25 140  73  12
 126 132 195  85 180 205 204  93   4 108  75   3 137 107 152 178 157 192
 146 162   1 104 206   2 118 144  53  20 120 121 123 135  32  78 201  77
  99 100  60 106  29 163   0  36  84  88 186 129 211  76  89  13  31  49
 131 147   8   6 145  95 179  64  83 164 158 138  15 122  45  51 175 102
  81 110 184 103 148 116 203 128  94  70 167  58  38  50   7  79  68  24
  54 212 159 193  97 174  67 189 112 173 176 199 177 169  55  11  28 150
  52 155 196  23  26 183  63 208 142 149  72 181 160  47  21  71 143  17
 114  39 191 207  35  86 113  92  22 115 117 134  80 200  90  66 172 161
 188 136 182  57  56 168 153  37 187  65 127  42 209  62 125 111]
Fold sizes:[42, 42, 42, 42, 46]
Total no. instances: 214

### Comment on assumptions, things that do not work properly, etc.

## 2b. Calculate Brier score of a set of predictions

In [29]:
# Insert the function brier_score below
#
# Input to brier_score:
# df            - a dataframe with class labels as column names and each row corresponding to
#                 a prediction with estimated probabilities for each class
# correctlabels - an array (or list) of the correct class label for each prediction
#                 (the number of correct labels must equal the number of rows in df)
#
# Output from brier_score:
# brier_score - the average square error of the predicted probabilties 
#
# Hint: Compare each predicted vector to a vector for each correct label, which is all zeros except 
#       for at the index of the correct class. The index can be found using np.where(df.columns==l)[0] 
#       where l is the correct label.

import numpy as np 
import pandas as pd 
def brier_score( df , correctlabels ):
    scores = []
    for i, label in enumerate(correctlabels):
        correct_vector = np.zeros(len(df.columns))
        index = np.where(df.columns == label)[0][0]
        print(label, index, df.iloc[:, index].values)
        correct_vector[index] = 1
        row_score = np.mean((df.iloc[i].values - correct_vector)**2)
        scores.append(row_score)
    return np.mean(scores)

In [30]:
# Test your code  (leave this part unchanged)

predictions = pd.DataFrame({"A":[0.5,0.5,0.5,0.25,0.25],"B":[0.5,0.25,0.25,0.5,0.25],"C":[0.0,0.25,0.25,0.25,0.5]})

correctlabels = ["B","A","B","B","C"]

print("Brier score: {}".format(brier_score(predictions,correctlabels)))

B 1 [0.5  0.25 0.25 0.5  0.25]
A 0 [0.5  0.5  0.5  0.25 0.25]
B 1 [0.5  0.25 0.25 0.5  0.25]
B 1 [0.5  0.25 0.25 0.5  0.25]
C 2 [0.   0.25 0.25 0.25 0.5 ]
Brier score: 0.16666666666666666

### Comment on assumptions, things that do not work properly, etc.

## 2c. Calculate AUC of a set of predictions

In [ ]:
# Insert the function auc below
#
# Input to auc:
# df            - a dataframe with class labels as column names and each row corresponding to
#                 a prediction with estimated probabilities for each class
# correctlabels - an array (or list) of the correct class label for each prediction
#                 (the number of correct labels must equal the number of rows in df)
#
# Output from auc:
# auc - the weighted area under ROC curve
#
# Hint 1: Calculate the binary AUC first for each class label c, i.e., treating the
#         predicted probability of this class for each instance as a score; the true positives
#         are the ones belonging to class c and the false positives the rest
#
# Hint 2: When calculating the binary AUC, first find the scores of the true positives and then
#         the scores of the true negatives
#
# Hint 3: You may use a dictionary with a mapping from each score to an array of two numbers; 
#         the number of true positives with this score and the number of true negatives with this score
#
# Hint 4: Created a (reversely) sorted (on the scores) list of pairs from the dictionary and
#         iterate over this to additively calculate the AUC
#
# Hint 5: For each pair in the above list, there are three cases to consider; the no. of false positives
#         is zero, the no. of true positives is zero, and both are non-zero
#
# Hint 6: Calculate the weighted AUC by summing the individual AUCs weighted by the relative
#         frequency of each class (as estimated from the correct labels)
 def auc(predictions , correctlabels):
     #binary auc for each class label

In [ ]:
# Test your code  (leave this part unchanged)

predictions = pd.DataFrame({"A":[0.9,0.9,0.6,0.55],"B":[0.1,0.1,0.4,0.45]})

correctlabels = ["A","B","B","A"]

print("AUC: {}".format(auc(predictions,correctlabels)))

In [ ]:
predictions = pd.DataFrame({"A":[0.5,0.5,0.5,0.25,0.25],"B":[0.5,0.25,0.25,0.5,0.25],"C":[0.0,0.25,0.25,0.25,0.5]})

correctlabels = ["B","A","B","B","C"]

print("AUC: {}".format(auc(predictions,correctlabels)))

### Comment on assumptions, things that do not work properly, etc.